autopep8==1.5.7
defusedxml==0.7.1
Django==2.1.2
django-crispy-forms==1.7.2
django-excel==0.0.10
django-excel-response==2.0.5
et-xmlfile==1.1.0
jdcal==1.4.1
lml==0.1.0
odfpy==1.4.1
openpyxl==2.4.11
Pillow==8.3.1
psycopg2==2.9.1
pycodestyle==2.7.0
pyexcel==0.6.6
pyexcel-io==0.6.4
pyexcel-ods==0.6.0
pyexcel-webio==0.1.4
pyexcel-xlsx==0.6.0
pyexcel-xlsxw==0.6.1
pytz==2018.7
six==1.16.0
texttable==1.6.4
toml==0.10.2
XlsxWriter==1.4.5
