{% extends 'base.html' %}
{% block title %}Nueva Planta{% endblock %}
{% block content %}
  <div style="margin:24px 0 24px 0">
  <form method="POST" novalidate enctype="multipart/form-data">
     {% csrf_token %}
  <div>
    <h2 style="color:black" class="text-center">Datos de la Planta</h2>
  </div>
  {% if form.errors %}
   <div class="alert alert-danger alert-dismissible" role="alert" id="liveAlert" class="liveAlert">
  <strong>Faltan algunos datos </strong> 
  {% for error in form.errors %}
    {{ error }} -
{% endfor %}
</div>
{% endif %}
     <div class="form-group">
            <label class="label-text" for="exampleInputEmail1">NOMBRE DE LA PLANTA</label>
            <input required name="nombre_planta" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Nombre de la planta" value="{{form.nombre_planta.value}}">         
          </div>
  
     <div class="form-group">
            <label class="label-text" for="exampleInputEmail1">NOMBRE CIENTIFICO</label>
            <input required name="nombre_cientifico" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Nombre cientifico" value="{{form.nombre_cientifico.value}}">         
          </div>
     <div class="form-group">
            <label class="label-text" for="exampleInputEmail1">FAMILIA</label>
            <input required name="familia" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Familia" value="{{form.familia.value}}">         
          </div>
     <div class="form-group">
            <label class="label-text" for="exampleInputEmail1">GENERO</label>
            <input required name="genero" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Genero" value="{{form.genero.value}}">         
          </div>
   
 <div class="form-group">
 <label class="btn btn-secondary" for="id_imagen">
    <input accept="image/*" name="imagen" id="id_imagen" required type="file" style="opacity:0" 
    onchange="$('#upload-file-info').html(this.files[0].name)">
    Cargar imagen del producto
</label >
<span class='label label-info' id="upload-file-info"></span>

 </div>
            <div class="d-flex justify-content-center">

            <a href="/plantas/" type="submit" class="btn btn-primary w-100" style="background:#DA0037 !important;color:white !important;margin-inline-end:24px">CANCELAR</a>
            <button type="submit" class="btn btn-primary w-100">GUARDAR</button>
          </div>
  </form>
  </div>
  <script>
  var myAlert = document.getElementById('liveAlert')
 
myAlert.addEventListener('click', function () {
  // do something, for instance, explicitly move focus to the most appropriate element,
  // so it doesn't get lost/reset to the start of the page
  // document.getElementById('...').focus()
  myAlert.style.display="none"
})
  </script>
{% endblock %}
