{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <center><p  class="titlehome" style="color: #27AB4A ;">Bienvenido al sistema de PERMATREE SUPERFOODS S.A. {% if user.is_authenticated %}{{ user.username }}{% else %}visitor{% endif %}!</p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div style="position: absolute;
width: 1085px;
height: 278px;
left: 170px;
top: 450px;
display: flex;
text-align: center;
"
>
</div>


</div>



{% endblock %}

