{% extends 'base.html' %}
{% block title %}Cultivos{% endblock %}
{% block content %}

   <div class="div-boton-crear">
   <div>
  <form class="form-inline my-2 my-lg-0" method="GET" >
    {% csrf_token %}
      <input name="search" class="form-control mr-sm-2" type="search" placeholder="Buscar por finca" aria-label="Search" style="border-color:  #09974d;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <i class="fas fa-search"></i> Buscar</button>
        <a href="/datos_estadisticos/" class="btn btn-primary" style="margin-left: 10px"> Ver Datos</a>
    </form>
</form>
   </div>
     <form method="POST" novalidate class="botons">
          {% csrf_token %}
         <button class="btn btn-outline-success btn-donwload" type="submit">
          <i class="fas fa-file-export" ></i> Exportar Datos</button>
          <div class="">

            <a href="{% url 'nuevo_cultivo' %}" class="btn btn-primary color-boton-agregar">
              <i class="fas fa-plus-circle"></i> AGREGAR CULTIVO</a>
          </div>
        </form>
   </div> 

  <div class="mt-5 tabla">
  {% if mensaje %}
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{mensaje}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  {% endif %}
  <table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre lote</th>
      <th scope="col">Dimención lote</th>
      <th scope="col">Fecha de siembra</th>
      <th scope="col">Tiempo de cosecha</th>
      <th scope="col">Planta</th>
      <th scope="col">Finca</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
   {% for cultivo in cultivos  %}
  
 <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td id="name">{{cultivo.nombre_lote}} </td>
      <td>{{cultivo.dimancion_lote}} </td>
      <td>{{cultivo.fecha_siembra}} </td>
      <td>{{cultivo.tiempo_cosecha}} </td>
      <td>{{cultivo.planta}} </td>
      <td>{{cultivo.finca}} </td>
     
      <td>
    
        <a href="{% url 'actualizar_cultivo' cultivo.id %}"  type="submit" class="btn btn-secondary" style="color:white !important;margin-inline-end:24px">
          <i class="fas fa-edit"></i> ACTUALIZAR</a> <br>
     <a href="#"onclick="eliminar('/delete_cultivo/',{{ cultivo.id }})" class="btn btn-outline-danger btn-flat"><i
                                class="fas fa-trash-alt"></i> ELIMINAR</a>

       </td>
     
    </tr>

   
    
   {% endfor %}
   
  </tbody>
</table>
  </div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" caller-id="" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body confirm-delete">
      Esta seguro de eliminar el cultivo 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> CANCELAR</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmDeleteButtonModal"> ELIMINAR</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).on('click', '.confirm-delete', function () {
        $("#confirmDeleteModal").attr("caller-id", $(this).attr("id"));
      });

    $(document).on('click', '#confirmDeleteButtonModal', function () {
      var caller = $("#confirmDeleteButtonModal").closest(".modal").attr("caller-id");
      window.location = $("#".concat(caller)).attr("href");
    });
</script>
  
{% endblock %}