{% extends 'base.html' %}
{% block title %}Nuevo Cultivo{% endblock %}


  <script>
  $.fn.datepicker
  $('[data-toggle="datepicker"]').datepicker();
$().datepicker({
  format: 'yyyy-mm-dd',
    language: "es-ES",
   autoHide:true
});
</script>
{% block content %}

  <div style="margin:24px 0 24px 0">
  <form method="POST" novalidate enctype="multipart/form-data">
     {% csrf_token %}
  <div>
    <h2 style="color:black" class="text-center">Datos del cultivo</h2>
  </div>
   {% if form.errors %}
   <div class="alert alert-danger alert-dismissible" role="alert" id="liveAlert" class="liveAlert">
  <strong>Faltan algunos datos </strong> 
  {% for error in form.errors %}
    {{ error }} -
{% endfor %}
  
</div>
{% endif %}
     <div class="form-group">
            <label class="label-text" for="exampleInputEmail1">NOMBRE DEL LOTE</label>
            <input required name="nombre_lote" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Nombre del lote" value="{{form.nombre_lote.value}}">         
          </div>
  
     <div class="form-group">
            <label class="label-text" for="exampleInputEmail1">DIMENSIÓN DEL LOTE</label>
            <input required name="dimancion_lote" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Dimensión del lote" value="{{form.dimancion_lote.value}}">         
          </div>
     <div class="form-group">
            <label class="label-text" for="exampleInputEmail1">FECHA DE SIEMBRA</label>
        <input  name="fecha_siembra" class="form-control" id="examplefecha" aria-describedby="fecha" type="date" name="fecha" value="{{form.fecha_siembra.value}}">

          </div>
     <div class="form-group">
            <label class="label-text" for="exampleInputEmail1">TIEMPO DE COSECHA</label>
            <input required name="tiempo_cosecha" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Tiempo de cosecha" value="{{form.tiempo_cosecha.value}}">         
          </div>

       


<div class="form-group">
    <label class="label-text" for="exampleFormControlSelect1">Planta</label>
    <select class="form-control" id="exampleFormControlSelect1" name="planta">
      <option selected>Seleccione una planta</option>
      {% for planta in plantas  %}
  <option value="{{planta.pk}}">{{planta.nombre_planta}}</option>
  {% endfor %}
  
    </select>
  </div>

  
<div class="form-group">
    <label class="label-text" for="exampleFormControlSelect1">Finca</label>
    <select class="form-control" id="exampleFormControlSelect1" name="finca">
      <option selected>Seleccione una finca</option>
      {% for finca in fincas  %}
  <option value="{{finca.pk}}">{{finca.nombre_finca}}</option>
  {% endfor %}
  
    </select>
  </div>
 
            <div class="d-flex justify-content-center">

            <a href="/cultivos/" type="submit" class="btn btn-primary w-100" style="background:#DA0037 !important;color:white !important;margin-inline-end:24px">CANCELAR</a>
            <button type="submit" class="btn btn-primary w-100">GUARDAR</button>
          </div>
  </form>
  </div>


  <script>
  var myAlert = document.getElementById('liveAlert')
 
myAlert.addEventListener('click', function () {
  // do something, for instance, explicitly move focus to the most appropriate element,
  // so it doesn't get lost/reset to the start of the page
  // document.getElementById('...').focus()
  myAlert.style.display="none"
})
$('[data-toggle="datepicker"]').datepicker();
$().datepicker({
  format: 'yyyy-mm-dd',
   language: "es-ES",
   autoHide:true
});
</script>
{% endblock %}
